<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% dados.forEach(function(lista){%>
        <li> 
          <a href="/edit/<%= lista._id %> ">
            <%= lista.nome %> 
          </a>
        </li>
      <%}) %>
    </ul>
   <a href="/new">Cadastrar Nova Empresa</a>
  </body>
</html>
